<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<script type="text/javascript" th:src="@{/js/gral.js}"></script>
<script type="text/javascript" th:src="@{/js/aprovarSolicitudes/aprovarSolicitud.js}"></script>
<link th:href="@{/css/ceprobi-estilos.css}" rel="stylesheet" />

<title>ADMIN SOLICITUDES | CEPROBI</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="conteiner p-3 my-3">
	<div class="row justify-content-center">
		<div class="jumbotron text-dark">
			<h1>ADMINISTRADOR DE SOLICITUDES</h1>
			<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			 dolore magna aliqua.</p>-->
		</div>
	</div>
	<div class="container p-3 my-3">
	<div class="row">
	<div class="col-md-9">
		<div class="table-responsive">
		<table id="tblSolicitudTransporte">
			<thead>
				<tr>
					<!-- <th >Id solicitude</th> -->
					<th >Nom Solicitante</th>
					<th >Folio</th>
					<th >Area adscripcion</th>
					<th >Fecha solicitud</th>
					<th >Estatus</th>
				</tr>
			</thead>
		</table>
		</div>
	</div>
	<div class="col-md-3" style="margin-top:50px">
		<div class="row justify-content-center" style="margin-bottom:10px;">
			<button class="col-md-5 btn btn-primary" onclick="verSolicitud()">Ver</button>
		</div>
		<div class="row justify-content-center" style="margin-bottom:10px;">
			<button class="col-md-5 btn btn-success" onclick="aprovarSolicitud()">Aprobar</button>
		</div>
		<div class="row justify-content-center" style="margin-bottom:10px;">
			<button class="col-md-5 btn btn-warning" onclick="rechazarSolicitud()">Rechazar</button>
		</div>
	</div>
	</div>
	</div>
</div>
<script th:inline="javascript">
var datosSession = [[${session}]];
</script>
<th:block th:include="modal/solTransAdmin/modalSolTransporte">
</body>
</html>